:root {

  /* Color */
  --color-primary: #9E5CF2;
  
  --color-secondary: #FF991F;
  
  --color-dark: #080808;

  --color-black: #3E3232;
  --color-black-75: #3E3232;
  --color-black-50: #3E3232;

  --color-gray: #FAFAFA;

  --color-stroke: #F1F1F1;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;


  /* Font Size */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  

  /* Border Solid */
  --border-solid-1: 1px solid;
  --border-solid-2: 2px solid;
  --border-solid-3: 3px solid;
  --border-solid-4: 4px solid;

  /* Border Radius */
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-20: 20px;


}